.btn {
    border: 1px solid var(--strokes-primary);
    border-radius: 5px;
    padding: 7px 33px;
    width: 114px;
    height: 40px;
    background: var(--background-primary);

    &:hover {
        background-color: rgb(237, 248, 80);
        transition: all 0.5s ease-in-out;
        /* color: var(--background-secondary); */
    }

    &:active {
        opacity: 0.1;
        transition: all 0.1s ease-in-out;
    }
}