.modalOwner {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 50;
    background: rgba(0, 6, 6, 0.5);
}

.modalOwner__content {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--strokes-secondady);
    background: var(--background-primary);
    border-radius: 5px;
    padding: 30px;
    width: 100%;
    max-width: 600px;
    min-height: 580px;
}

.modalOwner.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width:650px) {

    .modalOwner__content {
        min-height: 100%;
        overflow: hidden;
        min-height: 100vh;
    }
}