.mainAccount__btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    height: 40px;
    border: 1px solid var(--strokes-primary);
    background: var(--background-primary);
    border-radius: 5px;
    padding: 7px 22px;

    &:hover {
        opacity: 0.6;
    }
    &:active {
        opacity: 0.2;
    }
}

.btn__uploading_delete {
    cursor: pointer;
    display: flex;
    opacity: 0;
    align-items: center;
    justify-content: space-between;
    width: 195px;
    height: 40px;
    border: 1px solid var(--strokes-primary);
    background: var(--background-primary);
    border-radius: 5px;
    padding: 7px 22px;

    &:hover {
        opacity: 1;
        transition: all 0.3s ease-in-out;
    }

    &:active {
        opacity: 0.2;
    }
}


.mainAccount__btn_text {
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: var(--txt-color);
}
