.item {
    cursor: pointer;
    display: flex;
    padding: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--strokes-secondady);

        &:first-child {
                border-top: 1px solid var(--strokes-secondady);
            }

        &:last-child {
            border: none;
        }
}

.item__left {
    display: flex;
    align-items: center;
}

.item__img {
    display: flex;
    width: 50px;
    height: 50px;
    margin-right: 20px;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--strokes-secondady);
    border-radius: 999999px;
    background: var(--background-secondary);
    overflow: hidden;

    .item__imges {
        font-weight: 400;
        font-size: 18px;
        line-height: 140%;
        color: var(--txt-color);

    }
}

.item__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    color: var(--txt-color);
}

.wrapper__name_email {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.item__rigt_email {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: var(--gray);
}

.active_email {
    display: none;
}



@media only screen and (max-width: 520px) {
    .item__rigt_email  {
        display: none;

    }
    .active_email {
        display: block;
    }
}