
.block__imges {
    position: relative;
    /* width: 100%; */
    min-height: 200px;
    background-color: var(--background-secondary);
    border-bottom: 1px solid var(--strokes-secondady);
    margin-bottom: 85px;
}

.block__img {
    position: absolute;
    left: 240px;
    top: 150px;
    width: 100px;
    height: 100px;
    background-color: var(--background-secondary);
    border-radius: 999999px;
    border: 1px solid var(--strokes-secondady);
}

.mainAccount__container {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    margin-left: 240px;
    margin-right: 30px;
    max-width: 600px;
    /* width: 100%; */
}

.mainAccount__title {
    font-weight: 500;
    font-size: 30px;
    line-height: 140%;
    color: var(--txt-color);
    margin-bottom: 10px;
}

.mainAccount__email {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: var(--gray);
    margin-bottom: 30px;
}

.mainAccount__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: var(--txt-color);
}
@media only screen and (max-width:900px) {
    .block__img {
        left: auto;
        margin-left: 30px;
    }

    .mainAccount__container {
        margin-left: 30px;
        padding-bottom: 200px;
    }
}