.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid var(--strokes-secondady);
    min-height: 72px;
    background: var(--background-primary);
}

.footer__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: var(--gray);
    margin-right: 5px;
}

.footer__btn {
    font-weight: 500;
    color: var(--txt-color);
    background: inherit;

    &:hover {
        transition: all 0.5s ease-in-out;
        opacity: 0.6;
    }

    &:active {
        transition: all 0.1s ease-in-out;
        opacity: 0.2;
    }
}