.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    background: var(--background-secondary);
}

@media only screen and (max-width: 520px) {
    .main {
        background: var(--background-primary);
    }
}

.main__master {
    flex: 1;
    /* flex-grow: 1; */
    /* flex-direction: column; */
    padding-top: 50px;
    background: var(--background-primary);
}

.container__master {
    /* border: 1px solid red; */
    width: 100%;
    max-width: 800px;
    padding: 0 20px;
    margin: 0 auto;
}

.title__master {
    font-weight: 500;
    font-size: 30px;
    line-height: 140%;
    color: var(--txt-color);
    margin-bottom: 30px;
}
